#nav {
    width: 100%;
    padding-top: 45px;

    .menu-logo {
        height: 37px;
    }

    .navbar {
        a {
            font-size: 16px;
            font-weight: 900;
            text-decoration: underline;
            margin: 0 18px;
            color: #fff;
            text-transform: uppercase;
        }

        .contact {
            a {
                margin: 0 0 0 20px;
            }
        }
    }
}

@media screen and (max-width: 760px) {
    #nav {
        width: 100%;
        padding-top: 25px;

        .menu-logo {
            height: 24px;
        }

        .navbar {
            a {
                display: none;
                font-size: 12px;
                font-weight: 900;
                text-decoration: underline;
                margin: 0 10px;
                color: #fff;
                text-transform: uppercase;
            }

            .contact {
                a {
                    display: block;
                    margin: 0 0 0 20px;

                    img {
                        width: 22px;
                    }
                }
            }
        }
    }
}
